<article>
  <h2>Editable Dynamic Table</h2>
  <article class="table-header">
    <button class="button-remove-rows" mat-button (click)="removeSelectedRows()">Remove Rows</button>
    <button class="button-add-row" mat-button (click)="addRow()">Add Row</button>
  </article>
  <table mat-table [dataSource]="dataSource">
    <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
      <th mat-header-cell *matHeaderCellDef>
        <span *ngIf="col !== 'edit'">
          {{col}}
        </span>
      </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="!element.isEdit">
          <ng-container *ngIf="col === 'select'">
            <mat-checkbox (change)="element.selected = $event.checked"></mat-checkbox>
          </ng-container>
          <div class="btn-edit" *ngIf="col === 'edit'; spanHeader">
            <button mat-button class="button-remove" (click)="removeRow(element.id)">Delete</button>
            <button (click)="element.isEdit = !element.isEdit">Edit</button>
          </div>
          <span #spanHeader>
            {{element[col]}}
          </span>
        </div>
        <div [ngSwitch]="dataSchema[col]" *ngIf="element.isEdit">
              <div *ngSwitchCase="'select'">
              </div>
              <div class="btn-edit" *ngSwitchCase="'edit'">
                <button (click)="element.isEdit = !element.isEdit">Done</button>
              </div>
              <mat-form-field *ngSwitchCase="'date'" appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="element[col]">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field *ngSwitchDefault>
                <mat-label>{{col}}</mat-label>
                <input [type]="dataSchema[col]" matInput [(ngModel)]="element[col]">
              </mat-form-field>
          </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</article>